.App {
  text-align: center;
}

form {
  width: 1170px;
  margin: auto;
  display: flex;
  gap: 20px;
}

form input {
  flex-basis: 80%;
  height: 40px;
}

form button {
  flex-basis: 20%;
}

.outerDiv {
  width: 1170px;
  margin: auto;
}

.outerDiv ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 50px;
}

.outerDiv ul li {
  padding: 10px;
  background-color: brown;
  color: white;
  text-align: left;
  position: relative;
  font-size: 25px;
  margin-bottom: 20px;
  cursor: pointer;
}

.outerDiv ul li span {
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.completetodo {
  text-decoration: line-through;
  color: red;
  background-color: gray !important;
}